html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.model-short-info{
   
    height:350px;
    width:1140px;
    
}
.model-short-info:hover {
background-color: #e0e0e0;
border-bottom:1px solid gray;
        
}
    .model-short-info:hover * {
        background-color: #e0e0e0;
    }

.border-left {
    border-left: 1px solid gray ;
}
.img-border {
    border: 3px solid white;
    border-radius: 15px;
    
}
    .img-border:hover {
        box-shadow: 0 0 0 1px gray;
    }
.price-link {
    color: var(--bs-blue);
}
    .price-link:hover {
        color: var(--bs-cyan);
    }
 .page {
     width:1800px;
     display:flex;
 }
 .page-info{
     display:inline-block;
 }
.filters {
    flex-grow:1;

}
.filter-options {
    padding-right:40px;
    padding-top:10px;
}
.filter-table {

    margin-bottom: 20px;
}
.filter-div {
    
    border-bottom: 1px solid gray;
}

.form-control::-webkit-outer-spin-button,
.form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.w-35 {
    width:35%;
}
.right-align {
    position: absolute;
    right: 0;
    width:335px;
    margin-right:50px;
}
.search-form{
position:absolute;
left:400px;


}