<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Marketplace</title>
    <link rel="stylesheet" href="~/css/minty_bootstrapcss.css" />
    <link rel="stylesheet" href="~/Marketplace.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg py-3 bg-primary" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Phone/Index"><img style="width:180px" src="\photos\logo4.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <a class="nav-link nav-item navbar-nav me-auto " href="/Phone/Index">Телефони</a>
                    <form method="get" class="d-flex w-50 search-form" action="/Phone/SearchResults">
                        <input class="form-control me-sm-2" type="search" placeholder="Пошук" name="query">
                        <button class="btn btn-secondary my-2 my-sm-0 d-flex" type="submit" fdprocessedid="siejuv">Знайти<i class="fa-solid fa-magnifying-glass p-2"></i></button>
                    </form>
                  
                  
                </div>
            </div>
        </nav>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
